@media only screen and (max-width: 1025px) {
    #main-menu{
        display: none;
    }
    .hamburger{
        display: block;
        color:#202242;
        font-size: 2em;
        position: absolute;
        right: 10px;
        top: 10px; 
    }
    .hide{
        display: none;
    }
    .show{
        display: block;
    }
    .mobile ul.mobile-menu{
        list-style: none;
        text-align: center;
    }
    .mobile ul.mobile-menu li{
    
     
     border-bottom: 1px solid #eee;
    }
    .mobile ul.mobile-menu li a{
        color:#202242;
        text-decoration: none;
        padding: 20px;
        display: block;
    }
    #header{
        display: block;

    }
    #about{
        display: block;
    }
    #features{
        display: block;
    }
    #clients{
        display:block;
    }
    #clients .company .img{
        width: 45%;
        height: auto;
    }
    #clients .company,
    #clients .clients-wrapper .opinion{
        display: flex;
        flex-wrap: wrap
    }
    #clients .clients-wrapper .opinion .flex-item{
        margin-bottom: 70px;
    }
    #pricing .pricing-wrapper a{
        position: absolute;
        left:0;
        top:70%;
        transform: translate(0, 0);
        text-align: center;
    }
    #contact .contact-wrapper #secondary-nav{
        display: none;
    }


}
